.peaks-container {
    height: 150px;
    position: relative;
  }
  
  .zoomview-container {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }
  
  .overview-container {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }

  .media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .media-controls-container {
    display: flex;
  
    width: 100%;
  }
  
  .media-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .media-progress {
    height: 75px;
    background-color: #ccc;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .media-progress::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffcc00, #ffcc00 60%, #fff 60%, #fff);
    animation: media-progress-waveform 1s infinite linear;
  }
  
  @keyframes media-progress-waveform {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200px 0;
    }
  }
  .seek-bar{
   width: 175px;
    background-color: #ccc;
    border-radius: 2px;
    overflow: hidden;

  }